{% extends "admin/base.html" %}

{% block title %}新供应商审核{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block body_content %}
    <div class="clearfix"></div>
    {% if pager.total > 0 %}
        <table class="table table-striped supplier-list">
            {% for supplier in pager.items %}
                <tr class="supplier-info fixed">
                    <td>
                        <div class="supplier-name">{{ supplier.company_name }}</div>
                        <div class="suppler-business-scope">
                            经营范围:{% for bs in supplier.business_scopes %}{{ bs.name }}&nbsp;&nbsp;{% endfor %}
                        </div>
                        <div class="clearfix"></div>
                        <div class="supplier-others">
                            <div style="width: 100px;float: left;">联系人: {{ supplier.company_contact }}</div>
                            <div style="margin-left: 25px;width: 160px;float: left;">
                                联系方式: {{ supplier.company_contact_telephone }}</div>
                            <div style="margin-left: 25px;width: 160px;float: left;">
                                所在地: {{ supplier.area.full_name }}</div>
                            <div style="margin-left: 25px;width: 160px;float: left;">
                                加入时间: {{ supplier.create_date.strftime('%Y-%m-%d') }}</div>
                            <a href="{{ url_for('admin_supplier.audit_supplier', supplier_id=supplier.id) }}"
                               class="pull-right btn btn-default btn-xs detail-btn">详情</a>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% from 'admin/macros/pagination.html' import render_pagination %}
        {{ render_pagination(pager, 'admin_project.audit_list', exe_params='sort=%s&area=%s&business_scope=%s' % (sort,area,business_scope)) }}
    {% else %}
        <p class="text-warning">没有新的申请</p>
    {% endif %}
{% endblock %}
