{% extends "admin/base.html" %}

{% block title %}楼盘列表{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
    <script>
        $(function() {
           $("#region").change(function(){
               location.href = "{{ url_for('admin_project.building_list') }}/" + this.value;
           })
        });
    </script>
{% endblock %}

{% block body_content %}
    <div>
        <form class="form-inline" method="GET" style="margin-bottom: 20px;">
            <div class="form-group" style="width: 400px;">
                <label for="region">
                    楼盘所在地区：
                    <select class="form-control regionSelect" name="region" id="region"
                            style="width:200px; display: inline-block">
                        {% for reg in region_list %}
                            <option value="{{ reg.id }}" {% if region.id==reg.id  %}selected{% endif %}>
                                {{ reg.name }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <a href="{{ url_for('admin_entity.add_building') }}" class="btn btn-default pull-right active"
               style="width: 200px">
                创建新楼盘
            </a>
        </form>
        <div class="clearfix"></div>
        <ul class="list-group">
            {% for building in region.buildings %}
                <li class="list-group-item">
                    <div class="pull-left">
                        <a href="{{ url_for('admin_project.view_building', building_id=building.id) }}">
                            <img src="{{ building.logo }}" class="img-thumbnail building-logo-thumbnail"/>
                        </a>
                    </div>
                    <div class="pull-left" style="margin-left: 20px;height: 60px;position: relative;">
                        <h4 class="list-group-item-heading">
                            <a href="{{ url_for('admin_project.view_building', building_id=building.id) }}">
                                {{ building.name }}
                            </a>
                        </h4>

                        <div class="list-group-item-text" style="position:absolute; bottom: 0;color: gray;">
                            楼盘地址: {{ building.address }}
                        </div>
                    </div>
                    <div class="pull-right" style="height: 60px;width:80px;position: relative;">
                        <div style="position:absolute; bottom: 0;"><a href="#">楼盘项目({{ building.project_total }})</a></div>
                    </div>
                    <div class="pull-right" style="height: 60px;width:80px;position: relative;margin-right: 40px;">
                        <div style="position:absolute; bottom: 0;"><a href="#">正在招标({{ building.bidding_project_total }})</a></div>
                    </div>
                    <div class="clearfix"></div>
                </li>
            {% else %}
                <p class="text-warning">该地区没有楼盘</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
