{% extends "admin/base.html" %}

{% block title %} 草稿箱{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
    <script>
        function publishProjecgt(project_id) {
            $.post("{{ url_for('admin_project.publish_project') }}/" + project_id, function () {
                location.reload();
            })
        }

        function editProjecgt(project_id) {
            location.href = "{{ url_for('admin_project.edit_project') }}/" + project_id;
        }

        function deleteProjecgt(project_id) {
            var data = {
                project_id: project_id
            };
            $.post("{{ url_for('admin_project.delete_project') }}", data, function (message) {
                if (message.type == 'success') {
                    location.reload();
                }
            });
        }
    </script>
{% endblock %}

{% block body_content %}
    {% if project_list %}
        <table class="table table-striped">
            {% for project in project_list %}
                <tr>
                    <td width="30%">
                        <a href="#" style="font-size: 16px;">{{ project.name }}</a>
                    </td>
                    <td>
                        <div class="row1">项目类型: {{ project.business_scope.name }}</div>
                        <div class="row2">报价区间: {{ project.price_range.get_display_name() }}</div>
                    </td>
                    <td>
                        <div class="row1">&nbsp;</div>
                        <div class="row2">报名截止时间: {{ project.due_date|default('未填写', true) }}</div>
                    </td>
                    <td>
                        <div class="row1">&nbsp;</div>
                        <div class="row2">
                            <a href="javascript:;" onclick="publishProjecgt({{ project.id }})"> 发布 </a>
                            <a href="javascript:;" onclick="editProjecgt({{ project.id }})"> 编辑 </a>
                            <a href="javascript:;" onclick="deleteProjecgt({{ project.id }})"> 删除 </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="text-warning">没有草稿</p>
    {% endif %}
{% endblock %}
