{% extends "admin/base.html" %}

{% block title %}项目详情{% endblock %}

{% block css %}
    <style type="text/css">
        .requirements {
            display: none;
            background-color: #ffffff;
            border: 1px #dcdcdc solid;
            padding: 5px;
        }

        .summary {
            margin-left: 5px;
            padding: 5px;
            border-top: 1px #dcdcdc solid;
        }

        .panel-title {
            background-color: #a9a9a9;
            height: 50px;
            line-height: 50px;
            color: white;
            font-size: 20px;
            padding-left: 20px;
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{{ static('components/jquery-raty/lib/jquery.raty.js') }}"></script>
    <script>
        function expandRequirements(elem) {
            $(elem).hide();
            $('#requirements').show();
        }

        function selectSupplier(bid_id) {
            $.post("{{ url_for('admin_project.select_supplier') }}/" + bid_id, function() {
                location.reload();
            });
        }
    </script>
{% endblock %}

{% block body_content %}
    <div>
        <div style="margin-bottom: 20px;">
            <div style="padding: 10px;">
                <a href="#" class="btn btn-info">{{ project.business_scope.name }}</a>
                <span style="margin-left: 30px;font-size: 18px;">{{ project.building.area.name }}·{{ project.building.name }}</span>
                <span style="margin-left: 30px;">{{ project.name }}</span>
                {% if project_status_list %}
                    <select name="status" id="status" class="pull-right">
                        <option value="-1" style="color: grey;">--更改状态--</option>
                        {% for status in project_status_list %}
                            <option value="{{ status }}">{{ status.get_display_name() }}</option>
                        {% endfor %}
                    </select>
                    <script>
                        $("#status").change(function () {
                            if (this.value != -1) {
                                var data = {
                                    status: this.value
                                };
                                $.post("{{ url_for('admin_project.set_status', project_id=project.id) }}", data, function() {
                                    location.reload();
                                });
                            }
                        })
                    </script>
                {% endif %}
            </div>
            <div class="clearfix"></div>
            <div style="padding: 10px;">
                <span><b>报价区间:</b>&nbsp;&nbsp;{{ project.price_range.get_display_name() }}</span>
                <span style="margin-left: 30px;"><b>发布时间:</b>&nbsp;&nbsp;{{ project.publish_date.strftime('%Y-%m-%d') }}</span>
                <span style="margin-left: 30px;"><b>截止时间:</b>&nbsp;&nbsp;{{ project.due_date }}</span>
            </div>
            <div style="padding: 10px;">
                <span><b>项目交付周期:</b>&nbsp;&nbsp;{{ project.lead_start_date }} — {{ project.lead_end_date }}</span>
            </div>
            <div style="padding: 10px;">
                <div>
                    <b>项目需求:</b>&nbsp;&nbsp;<a href="javascript:;" onclick="expandRequirements(this);">展开</a>
                </div>
                <div class="requirements" id="requirements">
                    {{ project.requirements.replace('\r','<br>').replace('\r\n','<br>')|default('未填写', true)|safe }}
                </div>
            </div>
        </div>
        {% if project.bids %}
            {% if project.status==Project.STATUS_BIDDING %}
                <div class="text-right">
                    已报名列表({{ project.bids|length }})
                </div>
                <table class="table table-striped">
                    {% for bid1 in project.bids %}
                        <tr>
                            <td>
                                <div style="margin-bottom: 10px;cursor:pointer" onclick="$('#summary{{ bid1.id }}').show();">
                                    <div style="font-size: 18px;font-weight: bold">{{ bid1.supplier.company_name }}</div>
                                    <div>
                                        <span>联系人: {{ bid1.supplier.company_contact }}</span>
                                        <span style="margin-left: 30px;">联系方式: {{ bid1.supplier.company_contact_telephone }}</span>
                                        <a href="javascript:;" class="pull-right btn btn-default btn-xs">详情</a>
                                    </div>
                                </div>
                                <div class="summary" id="summary{{ bid1.id }}" style="display: none;">
                                    <a target="_blank"
                                       href="{{ url_for('admin_supplier.view_supplier', supplier_id=bid1.supplier.id) }}"
                                       class="pull-right btn btn-default btn-xs">查看供应商详细信息</a>
                                    <div>供应商陈述：</div>
                                    <div style="margin-top: 5px;">
                                        {{ bid1.summary.replace('\r','<br>').replace('\r\n','<br>')|default('未填写', true)|safe }}
                                    </div>
                                    <a href="javascript:;" onclick="selectSupplier({{ bid1.id }})"
                                       class="pull-right btn btn-default btn-xs">选择供应商</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% elif project.status==Project.STATUS_ENDED %}
                <div style="border: 1px #a9a9a9 solid;margin-bottom: 30px;">
                    <div class="panel-title">已选中</div>
                    <div style="padding: 5px;">
                        <div style="margin-bottom: 10px;cursor:pointer">
                            <div style="font-size: 18px;font-weight: bold">{{ bid.supplier.company_name }}</div>
                            <div>
                                <span>联系人: {{ bid.supplier.company_contact }}</span>
                                <span style="margin-left: 30px;">联系方式: {{ bid.supplier.company_contact_telephone }}</span>
                                <a href="javascript:;" class="pull-right btn btn-default btn-xs">详情</a>
                            </div>
                        </div>
                        <div class="summary">
                            <a target="_blank"
                               href="{{ url_for('admin_supplier.view_supplier', supplier_id=bid.supplier.id) }}"
                               class="pull-right btn btn-default btn-xs">查看供应商详细信息</a>

                            <div>供应商陈述：</div>
                            <div style="margin-top: 5px;">
                                {{ bid.summary.replace('\r','<br>').replace('\r\n','<br>')|default('未填写', true)|safe }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-title">已报名列表</div>
                    <table class="table table-striped">
                        {% for bid1 in project.bids %}
                            {% if bid1.id!=bid.id %}
                                <tr>
                                    <td>
                                        <div style="margin-bottom: 10px;cursor:pointer"
                                             onclick="$('#summary{{ bid1.id }}').show();">
                                            <div style="font-size: 18px;font-weight: bold">{{ bid1.supplier.company_name }}</div>
                                            <div>
                                                <span>联系人: {{ bid1.supplier.company_contact }}</span>
                                                <span style="margin-left: 30px;">联系方式: {{ bid1.supplier.company_contact_telephone }}</span>
                                                <a href="javascript:;" class="pull-right btn btn-default btn-xs">详情</a>
                                            </div>
                                        </div>
                                        <div class="summary" id="summary{{ bid1.id }}" style="display: none;">
                                            <a target="_blank"
                                               href="{{ url_for('admin_supplier.view_supplier', supplier_id=bid1.supplier.id) }}"
                                               class="pull-right btn btn-default btn-xs">查看供应商详细信息</a>

                                            <div>供应商陈述：</div>
                                            <div style="margin-top: 5px;">
                                                {{ bid1.summary.replace('\r','<br>').replace('\r\n','<br>')|default('未填写', true)|safe }}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            {% elif project.status==Project.STATUS_COMPLETED %}
                <div style="border: 1px #a9a9a9 solid;margin-bottom: 30px;">
                    <div class="panel-title">已完成</div>
                    <div style="padding: 5px;">
                        <div style="margin-bottom: 10px;cursor:pointer">
                            <div style="font-size: 18px;font-weight: bold">{{ bid.supplier.company_name }}</div>
                            <div>
                                <span>联系人: {{ bid.supplier.company_contact }}</span>
                                <span style="margin-left: 30px;">联系方式: {{ bid.supplier.company_contact_telephone }}</span>
                                <a href="javascript:;" class="pull-right btn btn-default btn-xs">详情</a>
                            </div>
                        </div>
                        <div class="summary">
                            <a target="_blank"
                               href="{{ url_for('admin_supplier.view_supplier', supplier_id=bid.supplier.id) }}"
                               class="pull-right btn btn-default btn-xs">查看供应商详细信息</a>

                            <div>供应商陈述：</div>
                            <div style="margin-top: 5px;">
                                {{ bid.summary.replace('\r','<br>').replace('\r\n','<br>')|default('未填写', true)|safe }}
                            </div>
                        </div>
                    </div>
                    {% if comment %}
                        <div class="panel-title">已评价（封闭评价期）</div>
                        <div style="padding: 50px;">
                            <div style="font-size: 18px;font-weight: bold">中标单位: {{ supplier.company_name }}</div>
                            <div>
                                <div>成本: <span id="cost_score"></span>&nbsp;{{ comment.cost_score }}分</div>
                                <div>质量: <span id="quality_score"></span>&nbsp;{{ comment.quality_score }}分</div>
                                <div>时间: <span id="time_score"></span>&nbsp;{{ comment.time_score }}分</div>
                                <div style="font-size: 16px;">服务评分: <span id="service_score"></span>&nbsp;{{ comment.service_score }}分</div>
                                <div style="margin-top: 10px;">您的评价:</div>
                                <div>
                                    {{ comment.content.replace('\r','<br>').replace('\r\n','<br>')|default('未填写', true)|safe }}
                                    <div class="pull-right">{{ comment.create_date }}</div>
                                </div>
                                <script>
                                    $(function () {
                                        $("#service_score").raty({
                                            scoreName: "service_score",
                                            score: {{ comment.service_score/2.0 }},
                                            half: true,
                                            readOnly: true
                                        });
                                        $("#cost_score").raty({
                                            scoreName: "cost_score",
                                            score: {{ comment.cost_score/2.0 }},
                                            half: true,
                                            readOnly: true
                                        });
                                        $("#quality_score").raty({
                                            scoreName: "quality_score",
                                            score: {{ comment.quality_score/2.0 }},
                                            half: true,
                                            readOnly: true
                                        });
                                        $("#time_score").raty({
                                            scoreName: "time_score",
                                            score: {{ comment.time_score/2.0 }},
                                            half: true,
                                            readOnly: true
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    {% else %}
                        <div class="panel-title">封闭评价期</div>
                        <div style="padding: 50px;">
                            <div style="font-size: 18px;font-weight: bold">中标单位: {{ supplier.company_name }}</div>
                            <div>
                                <form id="scoreForm" method="POST">
                                    <div>成本: <span id="cost_score"></span></div>
                                    <div>质量: <span id="quality_score"></span></div>
                                    <div>时间: <span id="time_score"></span></div>
                                    <div style="font-size: 16px;">服务评分: <span id="service_score"></span></div>
                                    <textarea style="width: 100%;height: 180px;" name="content"></textarea>
                                    <button type="button" class="btn btn-default" id="scoreBtn">提交</button>
                                </form>
                                <script>
                                    $(function () {
                                        $("#service_score").raty({
                                            scoreName: "service_score",
                                            score:0,
                                            half:true
                                        });
                                        $("#cost_score").raty({
                                            scoreName: "cost_score",
                                            score:0,
                                            half:true
                                        });
                                        $("#quality_score").raty({
                                            scoreName: "quality_score",
                                            score:0,
                                            half:true
                                        });
                                        $("#time_score").raty({
                                            scoreName: "time_score",
                                            score:0,
                                            half:true
                                        });

                                        $("#scoreBtn").click(function() {
                                            var data = $("#scoreForm").serialize();
                                            $.post("{{ url_for('admin_project.project_score') }}/{{ project.id }}", data, function(){
                                                location.reload();
                                            });
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% elif project.status==Project.STATUS_COMMENTED %}
                <div style="border: 1px #a9a9a9 solid;margin-bottom: 30px;">
                    <div class="panel-title">已评价（评价公示期）</div>
                    <div style="padding: 50px;">
                        <div style="font-size: 18px;font-weight: bold">中标单位: {{ supplier.company_name }}</div>
                        <div>
                            <div>成本: <span id="cost_score"></span>&nbsp;{{ project.cost_score }}分</div>
                            <div>质量: <span id="quality_score"></span>&nbsp;{{ project.quality_score }}分</div>
                            <div>时间: <span id="time_score"></span>&nbsp;{{ project.time_score }}分</div>
                            <div style="font-size: 16px;">服务评分: <span
                                    id="service_score"></span>&nbsp;{{ project.service_score }}分
                            </div>
                            <script>
                                $(function () {
                                    $("#service_score").raty({
                                        scoreName: "service_score",
                                        score: {{ project.service_score/2.0 }},
                                        half: true,
                                        readOnly: true
                                    });
                                    $("#cost_score").raty({
                                        scoreName: "cost_score",
                                        score: {{ project.cost_score/2.0 }},
                                        half: true,
                                        readOnly: true
                                    });
                                    $("#quality_score").raty({
                                        scoreName: "quality_score",
                                        score: {{ project.quality_score/2.0 }},
                                        half: true,
                                        readOnly: true
                                    });
                                    $("#time_score").raty({
                                        scoreName: "time_score",
                                        score: {{ project.time_score/2.0 }},
                                        half: true,
                                        readOnly: true
                                    });
                                });
                            </script>
                        </div>
                        <br><br>
                        <div>评论 ({{ comment_list|length }})</div>
                        <table class="table">
                            {% for comment in comment_list %}
                                <tr>
                                    <td>{{ comment.content.replace('\r','<br>').replace('\r\n','<br>')|default('未填写', true)|safe }}</td>
                                    <td>{{ comment.create_date }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <p class="text-warning">该项目还没有供应商投标</p>
        {% endif %}
    </div>
{% endblock %}
