{% extends "admin/base.html" %}

{% block title %}添加用户{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
    <script src="{{ static('components/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ static('components/jquery-validation/additional-methods.min.js') }}"></script>
    <script src="{{ static('components/jquery-validation/localization/messages_zh.js') }}"></script>
    <script src="{{ static('js/entity.js') }}"></script>
    <script>
        function updateBuildings($elem) {
            var area_id = $elem.val();
            if (area_id) {
                $("#buildingsDiv").empty();
                $.getJSON("{{ url_for('api_building.building_list') }}?area_id=" + area_id, function (buildings) {
                    if (buildings.length != 0) {
                        $.each(buildings, function (idx, item) {
                            $("#buildingsDiv").append('<div><label><input type="checkbox" name="buildings" id="buildings" ' +
                                    'value="' + item.id + '"> ' + item.name + '</label></div>');
                        });
                    } else {
                        $("#buildingsDiv").text("该地区还未添加楼盘");
                    }
                });
            } else {
                $("#buildingsDiv").text("请先选择所属地区");
            }
        }

        $(function () {
            $("#area_id").lSelect({
                url: "{{ url_for('api_area.area_list') }}",
                callback: updateBuildings
            });

            $.validator.setDefaults({ignore: ""});
            $("#addForm").validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 2,
                        remote: "{{ url_for('admin_user.check_user_unique') }}"
                    },
                    password: {
                        required: true,
                        minlength: 6
                    },
                    area_id: {
                        required: true
                    }
                },
                messages: {
                    username: {
                        required: "请输入名称",
                        minlength: "名称至少需要两个字",
                        remote: "该名称已经存在"
                    },
                    password: {
                        required: "请输入密码",
                        minlength: "密码至少6个字符"
                    },
                    area_id: {
                        required: "请选择所属地区"
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block body_content %}
    <div>
        <form id="addForm" class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="username" class="col-xs-2 control-label">用户姓名：</label>

                <div class="col-xs-6">
                    <input type="text" class="form-control" id="username" name="username" placeholder="用户姓名">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-xs-2 control-label">用户密码：</label>

                <div class="col-xs-6">
                    <input type="text" class="form-control" id="password" name="password" placeholder="用户密码">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">所属地区：</label>

                <div class="col-xs-6" style="margin-top: 7px;">
                    <div>
                        <input type="hidden" id="area_id" name="area_id">
                    </div>
                    <label id="area_id-error" class="error" for="area_id" style="display: none"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">所属楼盘：</label>

                <div class="col-xs-6">
                    <div id="buildingsDiv" style="margin-top: 7px;">
                        请先选择所属地区
                    </div>
                    <label id="buildings-error" class="error" for="buildings" style="display: none"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-6">
                    <button type="submit" name="_actionBtn" class="btn btn-default" value="1">保存</button>
                    <button type="submit" name="_actionBtn" class="btn btn-default" value="2">保存并继续添加</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
