{% extends "admin/base.html" %}

{% block title %}添加用户{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
    <script src="{{ static('components/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ static('components/jquery-validation/additional-methods.min.js') }}"></script>
    <script src="{{ static('components/jquery-validation/localization/messages_zh.js') }}"></script>
    <script src="{{ static('js/entity.js') }}"></script>
    <script>
        var current_building_ids = [];
        {% for building in user.buildings %}
            current_building_ids.push({{ building.id }});
        {% endfor %}

        function initCheckedBuildings() {
            $("#buildingsDiv").find(':checkbox[name="buildings"]').each(function () {
                var val = parseInt(this.value);
                $(this).prop("checked", $.inArray(val, current_building_ids) != -1);
            });
        }

        function updateBuildings($elem) {
            var area_id = $elem.val();
            if (area_id) {
                $("#buildingsDiv").empty();
                $.getJSON("{{ url_for('api_building.building_list') }}?area_id=" + area_id, function (buildings) {
                    if (buildings.length != 0) {
                        $.each(buildings, function (idx, item) {
                            $("#buildingsDiv").append('<div><label><input type="checkbox" name="buildings" id="buildings" ' +
                                    'value="' + item.id + '"> ' + item.name + '</label></div>');
                        });
                        initCheckedBuildings();
                    } else {
                        $("#buildingsDiv").text("该地区还未添加楼盘");
                    }
                });
            } else {
                $("#buildingsDiv").text("请先选择所属地区");
            }
        }

        $(function () {
            initCheckedBuildings();

            $("#area_id").lSelect({
                url: "{{ url_for('api_area.area_list') }}",
                callback: updateBuildings
            });

            $.validator.setDefaults({ignore: ""});
            $("#addForm").validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6
                    },
                    area_id: {
                        required: true
                    }
                },
                messages: {
                    password: {
                        required: "请输入密码",
                        minlength: "密码至少6个字符"
                    },
                    area_id: {
                        required: "请选择所属地区"
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block body_content %}
    <div>
        <form id="addForm" class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="username" class="col-xs-2 control-label">用户姓名：</label>

                <div class="col-xs-6">
                    <input type="text" class="form-control" value="{{ user.username }}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-xs-2 control-label">用户密码：</label>

                <div class="col-xs-6">
                    <input type="text" class="form-control" id="password" name="password"
                           placeholder="用户密码" value="{{ user.password }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">所属地区：</label>

                <div class="col-xs-6">
                    <div>
                        <input type="hidden" id="area_id" name="area_id" value="{{ user.area_id }}"
                               treePath="{{ user.area.tree_path }}">
                    </div>
                    <label id="area_id-error" class="error" for="area_id" style="display: none"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">所属楼盘：</label>

                <div class="col-xs-6">
                    <div id="buildingsDiv">
                        {% for building in user.area.buildings %}
                            <div>
                                <label>
                                    <input type="checkbox" value="{{ building.id }}" name="buildings" id="buildings">
                                    {{ building.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <label id="buildings-error" class="error" for="buildings" style="display: none"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-6">
                    <button type="submit" class="btn btn-default" value="1">保存</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
