{% extends "admin/base.html" %}

{% block title %}用户列表{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
    <script>
        function deleteUser(user_id) {
            var data = {
                user_id: user_id
            };
            $.post("{{ url_for('admin_user.delete_user') }}", data, function (message) {
                if (message.type == 'success') {
                    location.reload();
                }
            });
        }

        function editUser(user_id) {
            location.href = "{{ url_for('admin_user.edit_user') }}/" + user_id;
        }
    </script>
{% endblock %}

{% block body_content %}
    <div>
        <div>
            <a href="{{ url_for('admin_user.add_user') }}"
               class="btn btn-default pull-right active btn-create">
                创建用户
            </a>
        </div>
        <div class="clearfix"></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>用户ID</th>
                <th>用户姓名</th>
                <th>用户密码</th>
                <th>所属地区</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% if pager.total > 0 %}
                {% for user in pager.items %}
                    <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.area.name }}</td>
                    <td>
                        <a href="javascript:;" onclick="editUser({{ user.id }})">编辑</a>
                        <a href="javascript:;" onclick="deleteUser({{ user.id }})">删除</a>
                    </td>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5"><p class="text-warning">没有用户</p></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% if pager.total > 0 %}
            {% from 'admin/macros/pagination.html' import render_pagination %}
            {{ render_pagination(pager, 'admin_user.user_list') }}
        {% endif %}
    </div>
{% endblock %}
