{% extends "admin/base.html" %}

{% block title %}设置启动页{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
    <script>
        $(function() {
            $("#entity_type").change(function() {
                location.href = this.value;
            });
        });
    </script>
{% endblock %}

{% block body_content %}
    <div>
        <form class="form-inline" method="POST" style="margin-bottom: 20px;">
            <div class="form-group" style="width: 400px;">
                <label for="region">
                    添加：
                    <select class="form-control regionSelect" name="entity_type" id="entity_type"
                            style="width:200px; display: inline-block">
                            <option value="{{ url_for('admin_entity.set_startpage') }}" selected>启动页</option>
                            <option value="{{ url_for('admin_entity.add_carousel') }}">轮播</option>
                            <option value="{{ url_for('admin_entity.add_region') }}">地区</option>
                            <option value="{{ url_for('admin_entity.add_building') }}">楼盘</option>
                    </select>
                </label>
            </div>
        </form>
    </div>
{% endblock %}
